.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.dark body {
  background-color: #121212;
  color: #e0e0e0;
}

.back-button {
  font-size: 18px;       /* Aumenta el tamaño de la letra */
  padding: 10px 20px;    /* Más espacio dentro del botón */
  border-radius: 8px;    /* Bordes redondeados */
  border: 1px solid #ccc;
  background-color: #2a4ea2;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #1b3570;
}

/* Global Dark Mode Inputs */
.dark input, .dark select, .dark textarea {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #444;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #e0e0e0;
}
