.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body {
  background-color: hsl(0, 0%, 81%);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}
/*
TODO: MANUELA HACE COSAS DE LAS SUYAS, PAPASITO.
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

p {
  font-family: 'roboto';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
*/
